### String Data Type

In [ ]:
#concatenation

In [21]:
first = 'Jameel'
last = 'Khan'
name = first + last
print(name)

JameelKhan

In [7]:
#concatenation
first = 'Jameel'
last = 'Khan'
name = first +" "+ last
print(name)

Jameel Khan

In [9]:
employee = 'ali'
age = 22
username = employee + age
print(username)

TypeError: can only concatenate str (not "int") to str

In [11]:
employee = 'ali'
age = str(22)
username = employee + age
print(username)

ali22

In [13]:
employee = 'ali'
age = 22
username = employee + str(age)
print(username)

ali22

In [17]:
employee = 'ali'
height = 22.3
username = employee + height
print(username)

TypeError: can only concatenate str (not "float") to str

In [19]:
employee = 'ali'
height = str(22.3)
username = employee + height
print(username)

ali22.3

In [56]:
#packing and unpacking concept
employee = 'ali'
height = 22.3
username = employee, height
username #tuple

('ali', 22.3)

In [48]:
employee = 'ali'
height = 22.3
username = employee, height
print(username)

('ali', 22.3)

In [54]:
# repetition

x = 'hello' * 3
x

'hellohellohello'

In [58]:
# repetition

y = hello * 3
y

NameError: name 'hello' is not defined

In [62]:
#length
ret = 2828282
len(ret)

TypeError: object of type 'int' has no len()

In [64]:
ret = '2828282'
len(ret)

7

In [72]:
#indexing on string (counting space)
ret = '2 828282'
ret[1]

' '

In [74]:
flor = 282.3
len(flor)

TypeError: object of type 'float' has no len()

In [76]:
flor = '282.3'
len(flor)

5

In [78]:
loop = '282.3 + 22'
len(loop)

10

In [82]:
a= 123
b='123'
c= a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [98]:
topic = 'tesla'
topic.replace('t','T')

'Tesla'

In [88]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [102]:
fruit='apple'
fruit.replace('p', 'P',-1)

'aPPle'

In [104]:
#slicing

text= 'we are learning java'
text[7:15]

'learning'

In [110]:
#slicing

text= 'we are learning java'
text[::1]

'we are learning java'

In [112]:
#slicing

text= 'we are learning java'
text[::2]

'w r erigjv'

In [114]:
#case methods
#upper, lower, swapcas, title, capitalize

In [116]:
student = 'john'
student.upper()

'JOHN'

In [120]:
car = 'COROLLA'
car.lower()

'corolla'

In [126]:
msg = 'we are studying python'
msg.title()

'We Are Studying Python'

In [128]:
msg = 'We are sTudyIng pytHon'
msg.swapcase()

'wE ARE StUDYiNG PYThON'

In [132]:
msg = 'we are stUdying python'
msg.capitalize()

'We are studying python'

In [136]:
msg = """we are stUdying python
we are stUdying python
we are stUdying python"""
msg.capitalize()

'We are studying python\nwe are studying python\nwe are studying python'

In [ ]:
#trim and cleaning methods

#strip
#rstrip
#lstrip
#removessuffix
#removeprefix
#replace

In [184]:
comment = '   Hi! We are all travelling to Germany   '
comment.strip()

'Hi! We are all travelling to Germany'

In [144]:
comment = '   Hi! We are all            travelling to Germany   '
comment.strip()

'Hi! We are all            travelling to Germany'

In [146]:
comment = '   Hi! We are all travelling to Germany   '
# comment.trim() excel me trim hota

In [148]:
comment = '   Hi! We are all travelling to Germany   '
comment.rstrip()

'   Hi! We are all travelling to Germany'

In [150]:
comment = '   Hi! We are all travelling to Germany   '
comment.lstrip()

'Hi! We are all travelling to Germany   '

In [164]:
comment = 'Hi! We are all travelling to Germany'
comment.removesuffix('y')

'Hi! We are all travelling to German'

In [168]:
comment = 'Hi! We are all travelling to Germany'
comment.removeprefix('Hi')

'! We are all travelling to Germany'

In [170]:
prefixList = ['unhappy', 'unable' ]
prefixList.removeprefix('un')

AttributeError: 'list' object has no attribute 'removeprefix'

In [172]:
prefixList = ['unhappy', 'unable']
strippedList = [word.removeprefix('un') for word in prefixList]
print(strippedList)

['happy', 'able']

In [174]:
#search method
#count
#find

In [176]:
sample = 'apple-banana-pineapple'
sample.count('-')

2

In [182]:
sample = 'apple-banana-pineapple'
sample.find('a')

0

In [188]:
#splitting and joining methods

#split
#join

In [202]:
cars = 'Mehran City WagonR'
cars.split() #by default whitespace leta hai

['Mehran', 'City', 'WagonR']

In [206]:
cars = 'Mehran City WagonR'
cars.split(" ")

['Mehran', 'City', 'WagonR']

In [208]:
cars = 'Mehran-City-WagonR'
cars.split()

['Mehran-City-WagonR']

In [210]:
cars = 'Mehran-City-WagonR'
cars.split("-")

['Mehran', 'City', 'WagonR']

In [242]:
cars = 'abcdab cdabcdefd'
cars.split("d")

['abc', 'ab c', 'abc', 'ef', '']

In [248]:
joinCars = ['2021', '02', '11']
a='-'.join(joinCars)
a

'2021-02-11'

In [250]:
joinCars = ['2021', '02', '11']
a='/'.join(joinCars)
a

'2021/02/11'

In [252]:
joinCars = ['2021', '02', '11']
a=''.join(joinCars)
a

'20210211'

In [254]:
joinCars = ['2021', '02', '11']
'---'.join(joinCars)

'2021---02---11'

In [256]:
# #practice 
# Remove the extra spaces from both ends of the string " Hello World ". 
# Remove spaces only from the left side of " Start now". 
# Remove trailing spaces from "Finish Line ". 
# Replace "apple" with "banana" in the sentence "I have an apple". 
# Remove the .jpg suffix from "picture.jpg". 
#Remove the "Mr. " prefix from "Mr. John".

In [260]:
var1 = " Hello World "
var1.strip()

'Hello World'

In [262]:
var2 = " Start now"
var2.lstrip()

'Start now'

In [264]:
var3 = "Finish Line "
var3.rstrip()

'Finish Line'

In [266]:
fruitTxt = "I have an apple"
fruitTxt.replace("an apple","a banana")

'I have a banana'

In [268]:
pic1 = "picture.jpg"
pic1.removesuffix(".jpg")

'picture'

In [270]:
name1 = "Mr. John"
name1.removeprefix("Mr. ")

'John'