## DICTIONARY {Key: value} - DATA TYPE

In [270]:
#mutable
#indexed by keys
#no duplicates
#ordered with keys

my_dict = {
    'name': 'Khan',
    'age': 22,
    'student': True
}
my_dict

{'name': 'Khan', 'age': 22, 'student': True}

### detecting syntax errors

In [272]:
my_dict = {
    'name': 'Khan'
    'age': 22,
    'student': True
}
my_dict

SyntaxError: invalid syntax (1128343773.py, line 3)

In [274]:
my_dict = {
    'name': 'Khan',
    'age': 22,
    'student': True, #last comma isn't affecting
}
my_dict

{'name': 'Khan', 'age': 22, 'student': True}

In [278]:
my_dict = {
    'name' = 'Khan',
    'age': 22,
    'student': True
}
my_dict

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (768266588.py, line 2)

In [276]:
my_dict = {
    name : 'Khan',
    'age': 22,
    'student': True
}
my_dict

{'my name': 'Khan', 'age': 22, 'student': True}

In [280]:
name = 'my name'
my_dict = {
    name: 'Khan',
    'age': 22,
    'student': True
}
my_dict

{'my name': 'Khan', 'age': 22, 'student': True}

In [282]:
my_dict['age']

22

In [284]:
my_dict[name] #ref: name: 'Khan' => {'my name': 'Khan'}

'Khan'

In [286]:
name = 'my name'
my_dict = {
    'name': name,
    'age': 22,
    'student': True
}
my_dict

{'name': 'my name', 'age': 22, 'student': True}

In [288]:
my_dict[name] #ref: 'name': name

KeyError: 'my name'

In [290]:
my_dict['name'] #ref: 'name': name

'my name'

In [292]:
my_dict1= {
    1: 'khan',
    2: 22,
    3: True,
}
my_dict1

{1: 'khan', 2: 22, 3: True}

In [294]:
my_dict2 = {
    'name': ['ali', 'khan', 'ahmed'],
    'age': 22,
    'student': True,
}
my_dict2

{'name': ['ali', 'khan', 'ahmed'], 'age': 22, 'student': True}

In [296]:
#ordered

my_dict1= {
    1: 'khan',
    5: 22,
    3: True,
}
my_dict1

{1: 'khan', 5: 22, 3: True}

In [298]:
my_dict4 = {
    'name': ['ali', 'khan', 'ahmed'],
    'age': 22,
    'student': True,
}
my_dict4['student']

True

In [300]:
#no duplicates => overwrite krjaega
my_dict5 = {
    'name': ['ali', 'khan', 'ahmed'],
    'age': 22,
    'student': True,
    'age': 11,
    'student': False,
}
my_dict5

{'name': ['ali', 'khan', 'ahmed'], 'age': 11, 'student': False}

In [302]:
#mutable
my_dict77 ={
    'name': 'khan',
    'age': 24,
    'student': True,
    'tuple':(1,2,3),
    'list': ['a','b','c'],
    'set':{1,2,3}
}
my_dict77['name']

'khan'

In [304]:
my_dict77['age']=33
my_dict77

{'name': 'khan',
 'age': 33,
 'student': True,
 'tuple': (1, 2, 3),
 'list': ['a', 'b', 'c'],
 'set': {1, 2, 3}}

In [306]:
my_dict77['grade'] #key is not initialized

KeyError: 'grade'

### NESTED DICTIONARY

In [309]:
employee= {
    101:{ 'name': 'ali', 'age': 22,'salary': 22222, },
    102:{'name': 'khan', 'age':24,'salary': 33333},
    103:{'name': 'brock lesnar','age': 33,'salary': 44444}
}
employee

{101: {'name': 'ali', 'age': 22, 'salary': 22222},
 102: {'name': 'khan', 'age': 24, 'salary': 33333},
 103: {'name': 'brock lesnar', 'age': 33, 'salary': 44444}}

In [311]:
employee[101]['name']

'ali'

In [313]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [315]:
my_dict77.keys()

dict_keys(['name', 'age', 'student', 'tuple', 'list', 'set'])

In [317]:
my_dict77.values()

dict_values(['khan', 33, True, (1, 2, 3), ['a', 'b', 'c'], {1, 2, 3}])

In [319]:
my_dict77.get('name')

'khan'

In [321]:
my_dict.get('grade') # this will prevent API crashes because it won't give any error if key doesn't exist.

## SET - DATA TYPE

In [324]:
#unordered collection of unique elements
#no duplicates
#does not support indexing - unordered

In [326]:
set1 = {1, 2, 3, 4, 1, 1, 1, 12}
set1

{1, 2, 3, 4, 12}

In [328]:
set2 = {'apple', 'apple', 'mango', 'mango'}
set2

{'apple', 'mango'}

In [330]:
setVal = 34
set3 ={1, 2, 'a', 'b', ('t1', 't2'),False, 1.02, setVal }
set3 #unordered

{('t1', 't2'), 1, 1.02, 2, 34, False, 'a', 'b'}

In [332]:
set4={1,2,{'s1', 's2', 's3'}}
set4

TypeError: unhashable type: 'set'

In [334]:
set5 = {3,4,{'name': 'ahmed', 'age': 22}}
set5

TypeError: unhashable type: 'dict'

In [336]:
set6 = {1, 2, ['a','b']}
set6

TypeError: unhashable type: 'list'

In [338]:
dir({}) # same as dir(dict) or dir({'key': 'value'}) instance

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [340]:
dir({1,2,3}) #same as dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [342]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [344]:
a={1,2,3}
b={2,3}
a.intersection(b)

{2, 3}

In [346]:
set7 = {0,1, True, False, 0.45}
set7 #true is 1 and False is 0 => it will not return duplicates

{0, 0.45, 1}

In [348]:
#remove duplicates from a list

my_list = [1,2,3,4,1,2,3,4,3,3,4,4,5]
my_set = set(my_list)
new_list = list(my_set)
new_list

[1, 2, 3, 4, 5]

In [350]:
#find common items b/w two lists(intersection)

list1 = [1,2,3]
list2 = [1,3,4]
set1 = set(list1)
set2 = set(list2)
intersection = list(set1 & set2)
intersection

[1, 3]

In [352]:
#keep only unique words from a sentence
sentence = "Python is is easy easy to learn Python is used in in Data Data science"
uniqueWords = set(sentence.split(" "))
uniqueWords

{'Data', 'Python', 'easy', 'in', 'is', 'learn', 'science', 'to', 'used'}