### FUNCTIONS

#### Global Variables

In [13]:
y=2 #global variable

def print_my_y():
    y=3 #local variable
    print('inside fn:', y)

print(y)
print_my_y()

2
inside fn: 3

In [15]:
x=12

def print_my_x():
    global x #global keyword
    x=3
    print('inside fn:', x)

print(x)
print_my_x()

12
inside fn: 3

In [17]:
print_my_x() 
print(x)

inside fn: 3
3

#### Functions in Function

In [50]:
def add(num1, num2):
    total = num1 + num2
    print (total)

add(3,8)

11

In [46]:
def add2(num1, num2):
    total = num1 + num2
    print(num1)
    print(num2)
    return total

add2(3,8)

3
8

11

In [42]:
def add1(num1, num2):
    total = num1 + num2
    print(add1)

add1(3,8)

<function add1 at 0x000002260F6FEC00>

In [56]:
def bio(name, idc):
    print(f"my name is {name} and {idc}")
    add(2,5) #calling function in function

bio('ali',27651)

my name is ali and 27651
7

### ERROR HANDLING
try, except, else, finally

In [65]:
print(1/0)

ZeroDivisionError: division by zero

In [87]:
print(1+3)
print(1/0) #code crashed
print(2+5)

4

ZeroDivisionError: division by zero

In [71]:
try:
    print(1/0)
except:
    print('error')

error

In [81]:
print(1+3)
try:
    print(1/0)
except ZeroDivisionError:
    print('error')
print(2+5)

4
error
7

In [89]:
print(1/'a')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [93]:
print(1+3)
try:
    print(1/'a')
except ZeroDivisionError:
    print('error')
print(2+5)

4

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [95]:
print(1+3)
try:
    print(1/0)
except TypeError:
    print('error')
print(2+5)

4

ZeroDivisionError: division by zero

In [97]:
print(1+3)
try:
    print(1/'a')
except TypeError:
    print('error')
print(2+5)

4
error
7

In [172]:
# try-except me error kaise pata chale? JS me catch(err) jaisa.
try:
    x = int(input("Enter a number: "))
    print(10 / x)
except Exception as err:
    print("Error:", err)

# teacher's method is preferred

Enter a number:  0

Error: division by zero

In [125]:
try:
    x=int(input('Enter number:'))
    y=int(input('Enter number:'))

    result= x/y
    print(result)

except ZeroDivisionError:
    print('cannot divide by zero')

except ValueError:
    print('Invalid Integer')

Enter number: 3
Enter number: 3

1.0

In [127]:
try:
    x=int(input('Enter number:'))
    y=int(input('Enter number:'))

    result= x/y
    
except ZeroDivisionError:
    print('cannot divide by zero')

except ValueError:
    print('Invalid Integer')

else:
    print(result)

Enter number: 2
Enter number: 2

1.0

In [139]:
try:
    x=int(input('Enter number:'))
    y=int(input('Enter number:'))

    result= x/y
    
except ZeroDivisionError:
    print('cannot divide by zero')

except ValueError:
    print('Invalid Integer')

else:
    print(result)

finally:
    print('program executed')

Enter number: 1
Enter number: 0

cannot divide by zero
program executed

### PRACTICE

In [156]:
# km to miles
def km_to_miles():
    km = float(input("Enter km:"))
    miles = km * 0.621371
    print(f"{km} km is equal to {miles} miles")
km_to_miles()

Enter km: 300

300.0 km is equal to 186.4113 miles

In [168]:
#pkr to usd 
def pkr_to_usd(pkr_amount, exchange_rate=282):
    usd = pkr_amount / exchange_rate
    return usd

pkr_to_usd(564)

2.0