## LOOP

In [11]:
#repeated execution
#code reduced
fruits = ['apple', 'banana','cherry','mango','orange']
index=0
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'orange']

In [13]:
fruits2 = ['apple', 'banana','cherry','mango','orange']
index=0
print(fruits2[index])
index += 1
print(fruits2[index])
print(index)

apple
banana
1

In [4]:
index = 5
print(fruits2[index])

IndexError: list index out of range

In [7]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
banana
cherry
mango
orange

#### FOR LOOP

In [15]:
for i in fruits: #i is loop name
    print(i)

apple
banana
cherry
mango
orange

#### WHILE LOOP

In [ ]:
# INFINITE LOOP - no false condition is given

# counter = 0
# while counter <= 5:
#     print(counter)

In [23]:
counter = 0
while counter <= 5: #condition
    print(counter)
    counter += 1  #false condition

0
1
2
3
4
5

In [21]:
5<5

False

In [11]:
#end
count=0
while count <= 7:
    print(count, end=" ")
    count += 1

0 1 2 3 4 5 6 7

In [13]:
string = 'python'
index=0

while index<len(string):
    print(string)
    index +=1

python
python
python
python
python
python

In [15]:
len(string)

6

In [19]:
6<6

False

In [45]:
fruits5 = ['apple','banana','cherry','date']
index=0

while index< len(fruits5):
    print(fruits5[index], end=" ")
    index += 2

apple hi
cherry hi

In [78]:
#inner loop
i = 0  # outer row counter starts at 0
while i < 3:  # loop runs for 3 rows (0, 1, 2)
    j = 0  # inner column counter starts at 0
    while j < 6:  # loop runs for 6 columns (0 to 5)
        print(j, end=' ')  # print the column number, stay on same line
        j += 1  # increment column counter
    print()  # after inner loop, move to next line
    i += 1  # increment row counter

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [80]:
#Nested While Loop
#pattern
# 0 1 2 3 4 5
# 0 1 2 3 4 5
# 0 1 2 3 4 5

In [4]:
x=0
while x<3:
    j=0
    while j<6:
        print (j, end =" ")
        j+=1
    print()
    x+=1

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

### FOR LOOP

In [11]:
vegetables = ['carrot','brinjal','potato']
for u in vegetables:
    print(u)

carrot
brinjal
potato

In [13]:
word = 'Python'
for words in word:
    print(words)

P
y
t
h
o
n

In [17]:
#range fn' generates a sequence

for x in range(1,6):
    print(x)

1
2
3
4
5

In [23]:
# print hello world 5 times

for count in range(5):
    print(count, 'hello world')

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [25]:
# start (range) 
#end (end in print)

In [27]:
#break

i = 0
while i < 10:
    if i == 5:
        break  # exits the loop when i reaches 5
    print(i)
    i += 1

0
1
2
3
4

In [41]:
for i in range(10):
    if i == 5:
        break  # exits the loop when i reaches 5
    print(i)
    i += 1

0
1
2
3
4

In [43]:
#continue

for i in range(5):
    i += 1
    if i == 3:
        continue  # skip printing when i is 3
    print(i)

1
2
4
5

In [37]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue  # skip printing when i is 3
    print(i)

1
2
4
5

In [53]:
#check numbers even or odd from 1 to 10
# output eg:
# 1: odd
# 2: even

for num in range(1,11):
    if num%2 == 0:
        print(num, "even")
    else:
        print(num, "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [57]:
#Check numbers divisible by 3 from 3 to 15
# out eg:
# 3: divisible
# 5: not divisible

num = 3
while num <= 15:
    if num % 3 == 0:
        print(num, "divisible")
    else:
        print(num, "not divisible")
    num += 1

3 divisible
4 not divisible
5 not divisible
6 divisible
7 not divisible
8 not divisible
9 divisible
10 not divisible
11 not divisible
12 divisible
13 not divisible
14 not divisible
15 divisible

In [59]:
#print table of 5
for i in range(1,11):
    j = 5*i
    print("5 x ", i , "=",j )

5 x  1 = 5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45
5 x  10 = 50