### IF-ELIF-ELSE

In [34]:
#signal light example

light ="red" 


# = assignment
# == comparison

if light == "red" : 
    print ("stop") #indentation(spacing at the beginning of a code line)

stop

In [36]:
light = "grey" 

if light == "red" : 
    print ("stop") 
else:
    print("wait")

wait

In [44]:
# light = 'green'
# light = 'yellow'
# light = 'red'
light = 'white'

if light == 'red':
    print('stop')
elif light == 'yellow':
    print('ready')
elif light == 'green':
    print('go')
else:
    print('wait')

wait

In [68]:
#grading
#practice

marks = 88

if marks >= 90:
    print('A+')
elif marks > 80:
    print('A')
elif marks <= 79:
    print('B')
else:
    print(marks)

A

### NESTED IF

In [90]:
#age #purpose (must be true)
visa = 'valid'
purpose = 'education'
admission_letter = 'no'
account_status = 5000001
age = 30
job_recommendation = 'yes'
family_member = 'yes'
docs_submitted = 'yes'

if age >= 18:
    if purpose == 'education':
        if family_member == 'yes':
            print('Eligible for Education Visa')
        else:
            print('Family member is mandatory')
    else:
        print('Your purpose is not Education')
else:
    print('underage')

Eligible for Education Visa

In [ ]:
#elif => same nature ki multiple conditions
#nestedif => multiple conditions of different nature

### TUPLE - DATA TYPE

In [107]:
#Single Element Tuple
x= ('abc', '123')
y= ('apple') #assumed as string

z=('apple',) #single value tuple

print(type(x))
print(type(y))
print(type(z))

<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [109]:
#Allow Duplicates
bio = ('john doe', 44, 'USA', 89.2, 'New York' , 'New York')
bio

('john doe', 44, 'USA', 89.2, 'New York', 'New York')

In [113]:
#mixed dt
bio1 = ('john doe', 44, 'USA', 89.2, 'New York' , 'New York', [1,2,3])
bio1

('john doe', 44, 'USA', 89.2, 'New York', 'New York', [1, 2, 3])

In [129]:
#indexing and slicing
print(bio1[6])
sliceBio1 = bio1[::3]
print(sliceBio1)

[1, 2, 3]
('john doe', 89.2, [1, 2, 3])

In [131]:
#accessing list element in tuple
print(bio1[6][2])

3

In [145]:
#changing list element in tuple
a=(1,2,4,5,[1,2,4])
# a[-1][2]  =>  it can be a[-1][-1]
a[-1][2] = 'four' # it can be a[-1][-1]
a

(1, 2, 4, 5, [1, 2, 'four'])

In [147]:
#nested lists
b = [1,2,3,[4,5,6],7]
b

[1, 2, 3, [4, 5, 6], 7]

In [151]:
#nested tuple
t = (1,2,3,('abc','xyz'),4.5)
t

(1, 2, 3, ('abc', 'xyz'), 4.5)

In [153]:
# tuple in tuple, tuple in list, tuple => cannot change => immutable in nature
# list in tuple, list in list, list => can change => mutable in nature

In [161]:
#concatenation
t1=(1,2)
t2 =(3, 4)
t1 + t2

(1, 2, 3, 4)

In [167]:
#repitition
c = (22, 22) * 2
c

(22, 22, 22, 22)

In [169]:
#methods
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

##### PACKING AND UNPACKING TUPLE

In [177]:
#count and index (find if 25 exists in my_t1)
my_t1 = (10, 20, 30, 40)
my_t1.count(25)
# my_t1.index(25) => value error

0

In [179]:
#packing and unpacking

# Packing values into a tuple
person = ('John', 25, 'Engineer')

print(person)

# Unpacking the tuple into individual variables
name, age, profession = person

print(name)        # John
print(age)         # 25
print(profession)  # Engineer

('John', 25, 'Engineer')
John
25
Engineer

In [185]:
values = ("apple", "banana", "cherry", "grapes")
first , *others , last = values

others

['banana', 'cherry']

## PRACTICE

In [219]:
#check if a number is positive or negative

num1 = int(input('Enter Number:'))

if num1 > 0:
    print('number is positive')
elif num1<0:
    print('number is negative')
else:
    print('number is zero')

Enter Number: 0

number is zero

In [213]:
#check if a number is even or odd
num2 = int(input('Enter Number:'))

if num2 % 54 == 0:
    print ('number is even')
else:
    print('number is odd')

Enter Number: 3

number is odd

In [221]:
# check if a character is a vowel
vowel = input('Enter character: ')

if len(vowel) == 1:
    if vowel.lower() in 'aeiou':
        print("It's a Vowel.")
    else:
        print("It's a Consonant")
else:
    print("Invalid input.")

Enter character:  z

It's a Consonant